<div id="center">
  <p id="intro1">Can't get enough of<br/> i Usher ?<br/>
    Want to know more?</p>
  <p id="subintro1">We'd love to hear from you !</p>


  <div id="question-container">
<%= form_for @question do |f| %>


    <div id="question">
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />

    <%= f.label :email %><br/>
    <%= f.email_field :email%><br />

    <%= f.label :category %> <br/>
    <%= f.select :category, Question::CATEGORY_TYPES, prompt: "select a category" %><br />
    </div>

    <%= f.text_area :body, size: '10x10', class: 'text-question', value: "Enter your message here ..." %><br />

    <br/>
    <div id="question-button">
      <%= f.submit "submit", class: 'green button' %>
    </div>
<% end %>
</div>
</div>