<% if current_user  %>
<div id="center">
<div id= 'profile-info'>

</div>

<!--button to connect to user friendships,if at other users, if at own profile no button-->
   <%= render 'profiles/connect' %>



   <!-- statistics belonging to graphics and links for sub menu bar -->
   <div id="reputation">
     ( <%= @user.reputation_for(:votes).to_i %> )
   </div>


  <!-- sub menu bar -->
  <%= render 'profiles/submenu' %>


  <!-- personal info --->
  <%= render 'profiles/personalinfo' %>


   <div id="friend-list">
     <p><b>Buddy List</b></p>
   </div>

   <div id="talking">
     <p><b>Comments</b></p>
   </div>

  <!-- user posts -->
  <%= render 'profiles/posts' %>


<!-- all users accepted friends, conditional to show the friends list only on the logged in users profile page -->
   <%= render 'profiles/buddies' %>

<% end %>

</div>

<% if !current_user  %>
    <div id="center">
      <p id="intro1"><span>Whoops !</span><br/>
      You must have a regular<br/> user profile</p>
      <p id="subintro1">to see<br/>this page</p>
      <%= link_to "Sign up", root_path, class: "green button1" %>
      <!--use this link to return to the current users profile path-->
    </div>
<% end %>



