<% if current_user  %>
<div id="center">
<div id= 'profile-info'>

</div>


<!--button to connect to user friendships,if at other users, if at own profile no button-->
   <%= render 'profiles/connect' %>



   <!-- statistics belonging to graphics and links for sub menu bar -->
   <div id="reputation">
     ( <%= @user.reputation_for(:votes).to_i %> )
   </div>

   <div id="post-count">
     ( <%= @post.count %> )
   </div>

  <!-- sub menu bar -->
  <%= render 'profiles/submenu' %>


  <!-- personal info --->
  <%= render 'profiles/personalinfo' %>


   <div id="friend-list">
     <p><b>Buddy List</b></p>
   </div>

   <div id="talking">
     <p><b>Comments</b></p>
   </div>

  <!-- user posts -->
  <%= render 'profiles/posts' %>


<!-- all users accepted friends, conditional to show the friends list only on the logged in users profile page -->
   <%= render 'profiles/buddies' %>

<!-----      ----->
  <div id= "cinema-container">
    <div id="allcinemas">
      <% @admin.each do |admins| %>
        <%= link_to admins.branch, admin_path(admins) %>
      <% end %>
     </div>
  </div>
<% end %>
</div>


