
<div class="page-header">

  <h4 class="buddy">Buddy List  (<%= @user_friendships.size %>)</h4>

</div>


  <div id="contact-border">
<% @user_friendships.each do |friendship| %>
    <% friend = friendship.friend %>
    <div id="<%= dom_id(friendship) %>" class="friend row">
      <div class="span1">
        <%= link_to (gravatar_for friend), profile_path(friend.profile_name) %>
      </div>

      <div class="span7">
        <strong><%= friend.full_name %></strong><br />
        <% if friendship.pending? %>
            <em id="orange-status">Your buddy is yet to accept.</em><br/>
            <%= link_to "Delete", edit_user_friendship_path(friendship),class: 'btn btn-danger' %>
        <% end %>
        <% if friendship.requested? %>
            <em>Wants to be your buddy.</em><br/>
            <%= link_to "Accept", edit_user_friendship_path(friendship),id:'accept-friend', class:'btn btn-success' %>
            <%= link_to "Delete", edit_user_friendship_path(friendship), class: 'btn btn-danger' %>

        <% end %>
        <% if friendship.accepted? %>
            <em id="green-status">A buddy since <%= friendship.updated_at.strftime("%d %b. %Y") %>.</em><br/>
            <%= link_to "Update your buddy", edit_user_friendship_path(friendship), class:'btn btn-success' %>
        <% end %>
      </div>
    </div>

<% end %>

  </div>

<div id="contactpic">
  <%= image_tag ("contacts.jpg") %>
  <br/>
  <br/>
  <h3 class="buddy">Grow your Buddy list, it's fun !</h3>
</div>
  <div id="paginate">
    <%= will_paginate @user_friendships %>
  </div>
