 <%=  form_for(:session, url:sessions_path) do |f| %>
<div id="login">


      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
      </div>
  <% end %>
