
<div id="center">
  <div id= 'profile-info'>
    <% if current_admin %>
      <%= link_to "edit profile", edit_admin_path(current_admin) %>
     <% end %>
   </div>

<div id="personal-info1">
  <%= pic_for @admins, size: "100x80" %>
  <div id="info-text1">
  <h3><%= @admins.title %></h3><br/>
  Company: <%= @admins.company %><br/>
  Branch:  <%= @admins.branch %><br/>
  User Type: <%= @admins.user_type %><br/>
  Member Since:  <%= @admins.created_at.strftime("%d %b. %Y") %><br/>
  </div>
</div>


  <!-- sub menu bar -->
  <div id="profile-bar">
    <ul>
      <li class="profile-hover1"><%= image_tag("rep.png") %></li>
      <li class="profile-hover2"><%= image_tag("postcount.png") %></li>
      <li class="profile-hover2"><%= link_to image_tag("cinemas.png"), admins_path %></li>
      <% if current_admin %>
      <li class="profile-hover3"><%= link_to image_tag("complaints.png"), complaints_path %></li>
       <% else %>
      <li class="profile-hover4"><%= link_to image_tag("complaint.png"), new_complaint_path %></li>
      <% end %>
      <li class="profile-hover5"><%= link_to image_tag("newpost.png"), new_post_path %>
    </ul>
  </div>
  <!--  ----------------------------------------------   -->

  <!-- statistics belonging to graphics and links for sub menu bar -->



  <div id="post-count">
    ( <%= @adminpost.count %> )
  </div>

  <div id="reputation">
    ( <%= @admins.reputation_for(:votes).to_i %> )
  </div>

  <div id="talking">
    <p><b>Comments</b></p>
  </div>

  <div id="latest-film">
    <p><b>This weeks top movie</b></p>
  </div>

  <div id="video-border1">
    <%= video_tag ('hangover.mp4'),id:'video1', :size => "300x260", controls: true %><br/>
  </div>


  <div id="post">
    <% @adminpost.each do |post| %>
      <div id="post-seperate">
        <%= pic_for @admins, size: "60x50" %>
          <div id="profile-post">
            <%= post.content %>
          </div>
            <div class="meta">
              <span class='admin'>
                <div id="thumbs">
                  <% if current_user %>
                    <%= link_to image_tag("thumbup1.png"), vote_post_path(post, type: "up"), method: "post", id: "vote-up" %>
                    <%= link_to image_tag("thumdown1.png"), vote_post_path(post, type: "down"), method: "post", id: "vote-down" %>
                    <% end %>
                    <%= time_ago_in_words(post.created_at) + " " + "ago" %>
                  </div>
                    <%= pluralize post.reputation_for(:votes).to_i, "votes" %>
                      <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </span>
                  </div>
               </div>
            <% end %>
          </div>
       </div>

