
<div id="center">
  <div id= 'profile-info'>

        <div id="pic-border-green">
          <div id="pic-green">

          </div>
        </div>
        </div>

<div id="personal-info">
  <h3><%= @admins.title %></h3>
  Company: <%= @admins.company %><br/>
  Branch:  <%= @admins.branch %><br/>
  User Type: <%= @admins.user_type %><br/>
  Member Since:  <%= @admins.created_at.strftime("%d %b. %Y") %><br/>
</div>


  <!-- sub menu bar -->
  <div id="profile-bar">
    <ul>
      <li class="profile-hover1"><%= image_tag("rep.png") %></li>
      <li class="profile-hover2"><%= image_tag("postcount.png") %></li>
      <li class="profile-hover3"><%= link_to image_tag("buddies.png"),user_friendships_path %></li>
      <li class="profile-hover4"><%= link_to image_tag("complaint.png"), new_complaint_path %></li>

    </ul>
  </div>
  <!--  ----------------------------------------------   -->


  <div id="connectad">

    <p id="like">Like</p>

  </div>



  <div id="userposts">
    <%= link_to 'New Post', new_post_path, class: "btn btn-success" %>
    <%= link_to 'View Complaints', complaints_path, class: "btn btn-success" %>
  </div>

  <div id="like-list">
    <p><b>Likes</b></p>
  </div>



  <div id="talking">
    <p><b>Comments</b></p>
  </div>
  <div id="post">
  <% @adminpost.each do |post| %>
        <div id="post-seperate">

          <%= post.content %>
          <div class="meta">

                <span class='admin'>
                  <div id="thumbs">
                    <%= link_to image_tag("thumbup1.png"), vote_post_path(post, type: "up"), method: "post", id: "vote-up" %>
                    <%= link_to image_tag("thumdown1.png"), vote_post_path(post, type: "down"), method: "post", id: "vote-down" %>
                    <%= time_ago_in_words(post.created_at) + " " + "ago" %>
                  </div>
                  <%= pluralize post.reputation_for(:votes).to_i, "votes" %>
                  <%= link_to 'Edit', edit_post_path(post) %>
                  <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                 </span>
          </div>
        </div>


  <% end %>
    </div>
</div>

