<h1>Edit Details</h1>
<div id="edit-complaint">

  <%= form_for (@admin), :html => { :multipart => true } do |f| %>
      <% if @admin.errors.any? %>
          <div id="error_explanation">
            <h3><%= pluralize(@admin.errors.count, "error") %> prohibited this post from being saved:</h3>

            <ul>
              <% @admin.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <p>Upload Avatar</p>
      <hr/>


      <%= f.label :company %>
      <%= f.text_field :company %>

      <%= f.label :branch %>
      <%= f.text_field :branch %>

      <%= f.label :longitude %>
      <%= f.text_field :longitude %>

      <%= f.label :latitude %>
      <%= f.text_field :latitude %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>
      <br/><br/>
      <%= f.submit "Update Details", class: "green button" %>
      <br/><br/>
      <%= link_to 'Back to Profile', @admin, class: 'btn btn-success' %>
  <% end %>
</div>