
  <%= form_for([@post, @post.comments.build]) do |f| %>
      <% if @post.errors.any? %>
          <div id="error_explanation">
            <h3><%= pluralize(@post.errors.count, "error") %> prohibited this reply from being saved:</h3>
            <ul>
              <% @post.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
        <%= f.text_area :body %>
      </div>
      <%= f.submit "Submit Reply", class: "post button" %>
  <% end %>



