<div id="show-complaint">
<p id="notice"><%= notice %></p>

<p>
  <b>Branch:</b>
  <%= @complaint.branch %>
</p>

<p>
  <b>Screen:</b>
  <%= @complaint.screen %>
</p>

<p>
  <b>Seat:</b>
  <%= @complaint.seat %>
</p>

<p>
  <b>Longitude:</b>
  <%= @complaint.longitude%>
</p>

<p>
  <b>Latitude:</b>
  <%= @complaint.latitude  %>
</p>

<h4>Feed back email has been sent to:</h4>
<p>
  <%= @complaint.comment %>
</p>
  <%= link_to 'Back', complaints_path, class:'btn btn-success' %>
</div>

