   <div id="plain-wrapper">
    <h4>Find a Buddy !</h4>
      <%= text_field_tag :user %><%= link_to 'Search',  users_path, class: 'btn btn-info' %>
      <% @user.each do |user| %>
          <div id="post-seperate">

            <div class="status">
              <div class="row">
                <div class="span7">

                  <b><%= user.first_name %></b>
                  <b><%= user.last_name %></b>
                  <div class="meta">

                      <%= link_to 'Go to Buddy', user_path(user) , class: "btn btn-info" %>

                    <span class="admin">



       </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
       <div id="paginate">
         <%= will_paginate @user %>
       </div>
     </div>

