<div id="green_gradient">
  <table>
    <tr>
      <h1>all users</h1>
      <th>User Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Profile Name</th>
      <th>Trust Level</th>
      <th>User Type</th>
    </tr>

    <tr>
      <% @user.each do |user|  %>
          <td><%= user.id %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.profile_name %></td>
          <td><%= user.trust_level %></td>
          <td><%= user.user_type %></td>
          </tr>
      <% end %>

      </table>
</div>