  <%= form_for(@user) do |f| %>
    <div id="main_wrapper">
      <h2>Register</h2>

      <div id="form-container">

        <%= f.label :first_name %><br/>
        <%= f.text_field :first_name %> <br />

        <%= f.label :last_name %><br />
        <%= f.text_field :last_name %><br />

        <%= f.label :profile_name %><br/>
        <%= f.text_field :profile_name %><br />

        <%= f.label :email %> <br/>
        <%= f.text_field :email %><br />

        <%= f.label :password %><br/>
        <%= f.password_field :password %><br />
        <br/>
        <br/>

        <%= f.submit "Join", :class => "green button" %>
      </div>


 <% end %>


</div>
