  <%= form_for(@user)  do |f| %>

      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h3><%= pluralize(@user.errors.count, "error") %> prohibited this registration from being saved:</h3>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

    <div id="center">
      <h2>Register</h2>

       <p id="intro">Enjoy your movie<br/>
        without<br/> interruptions</p>
       <p id="subintro">Connect and chat<br/> with others</p>


      <div id="form-container">

        <%= f.label :first_name %><br/>
        <%= f.text_field :first_name %> <br />

        <%= f.label :last_name %><br />
        <%= f.text_field :last_name %><br />

        <%= f.label :profile_name %><br/>
        <%= f.text_field :profile_name %><br />

        <%= f.label :email %> <br/>
        <%= f.text_field :email %><br />

        <%= f.label :password %><br/>
        <%= f.password_field :password %><br />

        <br/>
        <br/>
        <%= f.submit "Sign Up", class: "green button" %>
        </div>
  <% end %>
   <div id="video">
     <%=image_tag("cinemascreen.jpg") %>
   </div>

  <div id="video-border">
    <%= video_tag ('muppets.mp4'),id:'video1', :size => "340x260", controls: true %>
  </div>

      <div id="cinemas">
        <p>Where can you<br/>
          use iUsher?
        </p>
        <%=  image_tag('vue.jpg') %>
        <br/>
        <br/>
        <%=  image_tag('odeon.jpg') %>
        <br/>
        <br/>
        <%=  image_tag('cineworld.jpg') %>
        <br/>
        <br/>
        <%=  image_tag('omniplex.jpg') %>
      </div>


  <% if signed_in? %>

  <% else %>

      <%=  form_for(:session, url:sessions_path) do |f| %>
          <div id="login1">
           <%= f.label :email,class:"logintext" %>
            <%= f.email_field :email %>
          </div>
          <div id="login2">
            <%= f.label :password,class:"logintext" %>
            <%= f.password_field :password %><%= f.submit "Log in", class:'btn btn-success' %>
          </div>

      <% end %>

  <% end %>
  </div>

