  <%= form_for(@user)  do |f| %>
    <div id="main_wrapper">
      <h2>Register</h2>
       <p id="intro">Enjoy your movie without interruptions</p>
       <p id="subintro">- Connect and chat with others -</p>


      <div id="form-container">

        <%= f.label :first_name %><br/>
        <%= f.text_field :first_name %> <br />

        <%= f.label :last_name %><br />
        <%= f.text_field :last_name %><br />

        <%= f.label :profile_name %><br/>
        <%= f.text_field :profile_name %><br />

        <%= f.label :email %> <br/>
        <%= f.text_field :email %><br />

        <%= f.label :password %><br/>
        <%= f.password_field :password %><br />


        <br/>
        <br/>

        <%= f.submit "Join", :class => "green button" %>
        <br/>
        <p>Already a member ? Sign in below.</p>
        </div>

   <% end %>
  <% if signed_in? %>

  <% else %>
      <%=  form_for(:session, url:sessions_path) do |f| %>
          <div id="login1">
            <%= f.label :email %><%= f.text_field :email %>
          </div>
          <div id="login2">
            <%= f.label :password %><%= f.password_field :password %><%= f.submit "Log in" %>
          </div>
      <% end %>
  <% end %>
</div>
