<!--all the posts scoped to the user-->

<div id="post">
<% @post.each do |post| %>
    <div id="post-seperate">
      <div class="status">
        <div class="row">
          <div class="span7a">
            <%= gravatar_for @user, size: 60 %>
            <%= post.content %>
            <div class="meta">
              <%= time_ago_in_words(post.created_at) + " " + "ago" %>
              <span class='admin'>
                <%= link_to image_tag("thumbup1.png"), vote_post_path(post, type: "up"), method: "post", id: "vote-up", remote: true%>
                <%= link_to image_tag("thumdown1.png"), vote_post_path(post, type: "down"), method: "post", id: "vote-down", remote: true%>
                <%= pluralize post.reputation_for(:votes).to_i, "votes" %>
                <%= link_to 'Edit', edit_post_path(post) %>
                <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
 </div>
