<% if current_admin %>
<div id="center">
  <div id="post">
<% @post.each do |post| %>

    <div id="post-seperate">

      <div class="status">
        <div class="row">
          <div class="span7">

            <%= post.content %>
            <div class="meta">
              <%= link_to time_ago_in_words(post.created_at) + " " + "ago", post %>
              <span class="admin">
                 <%= link_to "up", vote_post_path(@post, type: "up"), method: "post"%>
                <%= link_to "down", vote_post_path(@post, type: "down"), method: "post"%>
                <%= link_to 'Show', post %>
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
              </span>
            </div>
          </div>
         </div>
        </div>
       </div>
<% end %>
   </div>
  <%= will_paginate @post %>
</div>
<% end %>

<% if !current_admin  %>
    <div id="center">
      <p id="intro1"><span>Whoops !</span><br/>
        Nothing to see<br/> on this page</p>
      <p id="subintro1">Get me<br/>Out of here</p>
      <%= link_to "Home", root_path, class: "green button1" %>
      <!--use this link to return to the current users profile path-->
    </div>

<% end %>
