


  <div id="top">
 <div id="nav">

    <ul>
      <% if signed_in? %>
      <li><%= link_to "Log out",signout_path, method: 'delete' %></li>
        <li><%= link_to "News Feed", profile_path(@current_user.profile_name)  %></li>
        <li><%= link_to 'About', about_path  %></li>
        <li><%= link_to 'Contact Us', contact_path  %></li>
        <li><%= link_to 'Find a Buddy', users_path  %></li>
        <li><%= link_to "Home", root_path %></li>
      <% else  %>
        <li><%= link_to 'Contact Us', contact_path  %></li>
        <li><%= link_to 'About', about_path  %></li>
        <li><%= link_to "Home", root_path %></li>
     </ul>
   <% end %>
  </div>
</div>

