<div class="navbar navbar-static-top">
  <div id="logo">
    <%= image_tag 'logo.PNG' %>
  </div>

  <div id="nav">

    <ul>
      <% if signed_in? %>
      <li><%= link_to "Log out",signout_path, method: "delete" %></li>
        <li><%= link_to "News Feed", @current_user  %></li>
        <li><%= link_to "Buddy list", user_friendships_path  %></li>
        <li><%= link_to 'About', about_path  %></li>
        <li><%= link_to 'Contact Us', contact_path  %></li>
          <li><%= link_to 'Find a Buddy', users_path  %></li>
        <li><%= link_to "Home", root_path %></li>
        <% else %>
          <li><%= link_to 'Contact Us', contact_path  %></li>
          <li><%= link_to 'About', about_path  %></li>
          <li><%= link_to "Home", root_path %></li>
      <% end %>

    </ul>
  </div>
</div>
<br/>
<br/>
<br/>

