<!DOCTYPE html>
<html>
<head>
  <title>Usher3</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= render 'layouts/header' %>
 <% if signed_in? %>

<% else %>
        <% if @user %>
<%=  form_for(:session, url:sessions_path) do |f| %>
    <div id="login1">
      <%= f.label :email %><%= f.text_field :email %>
     </div>
     <div id="login2">
      <%= f.label :password %><%= f.password_field :password %><%= f.submit "Log in" %>
     </div>



      <% end %>
   <% end %>
  <% end %>





<%= yield %>

</body>
</html>
