<!--use this link to return to the current users profile path-->
<!-- <  link_to "Back to Profile", profile_path(current_user.profile_name) %> -->

<!DOCTYPE html>
<html>
<head>
  <title>Usher3</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= render 'layouts/header' %>



  <div id="cinemas">
    <p>Where can you<br/>
      use iUsher?
    </p>
      <%=  image_tag('vue.jpg') %>
    <br/>
    <br/>
      <%=  image_tag('odeon.jpg') %>
    <br/>
    <br/>
      <%=  image_tag('cineworld.jpg') %>
    <br/>
    <br/>
      <%=  image_tag('omniplex.jpg') %>
  </div>

<%= yield %>

<%= render 'layouts/footer' %>
   <div class="clear"></div>

</body>
</html>
